.services {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__gears {
    display: none;
  }

  &__header {
    position: relative;
    margin: 20px auto 5px auto;
    font-size: 20px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #3E3E3E;
    display: flex;
    flex-direction: column;
    align-content: center;

    &::after {
      position: absolute;
      height: 2px;
      width: 60px;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      background-color: #E4B56B;
    }
  }

  &__tile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 10px;

    &__item {
      height: 105px;
      width: 33%;
      list-style: none;
      cursor: pointer;
      margin: 5px 5px;
      background-size: cover;
      flex-grow: 1;
      flex-shrink: 1;

      &_title {
        position: relative;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #ffffff;
        background-color: rgba(62, 62, 62, 0.9);
        width: 123px;
        height: 36px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        padding: 0 20px 0 6px;

        &::after {
          position: absolute;
          top: 0;
          right: 10px;
          content: "";
          height: 23px;
          width: 2px;
          background-color: #E4B56B;
        }
      }
    }
  }

  &__button {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    min-width: 328px;
    max-width: 379px;
    width: 90%;
    height: 36px;
    background-color: #454647;
    color: #ffffff;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .services {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1360px;

    &__gears {
      display: block;
      position: absolute;
      height: 566px;
      width: 516px;

      &.left {
        left: 0;
        top: 20%;
        transform: rotate(-45deg);
      }

      &.right {
        right: 0;
        top: 15%;
        transform: rotate(140deg);
      }

      & .gear {
        position: relative;

        &_1 {
          position: absolute;
          background-image: url('../../assets/images/desktop/gears/gear1.png');
          background-size: cover;
          height: 177px;
          width: 177px;
          top: 150px;
          transform: rotate();
        }

        &_2 {
          position: absolute;
          background-image: url('../../assets/images/desktop/gears/gear2.png');
          background-size: cover;
          height: 209px;
          width: 209px;
          left: 130px;
        }

        &_3 {
          position: absolute;
          background-image: url('../../assets/images/desktop/gears/gear3.png');
          background-size: cover;
          height: 369px;
          width: 369px;
          right: 0;
          top: 200px;
        }
      }
    }

    &__header {
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 30px;

      &::after {
        width: 82px;
      }
    }

    &__tile {
      margin: 0;
      max-width: 1180px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      z-index: 10;

      &__item {
        height: 202px;
        max-width: 585px;
        margin: 5px;
        display: flex;
        flex-basis: 382px;
        flex-grow: 1;
        flex-shrink: 1;

        &_title {
          font-size: 20px;
          width: 318px;
          height: 56px;
          margin-top: 33px;
          padding: 0;
          padding-left: 15px;

          &::after {
            right: 15px;
            height: 45px;
            width: 2px;
          }
        }
      }
    }

    &__button {
      margin-top: 20px;
      height: 43px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1200px) {
  .services {
    &__tile {
      display: flex;
      align-items: stretch;

      &__item {
        width: 33%;
        display: flex;
        flex-basis: 159px;
        flex-grow: 1;
        flex-shrink: 1;
      }
    }
  }
}